@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    ViewData["hideNavBar"] = true;
    ViewData["hideFooter"] = true;
}

<div class="login-container">
  <div class="row w-100">
    <div class="col-sm-6 text-center">
          <h2 class="text-white">Log in to manage your empire !</h2>
          <section>
              <form method="post" class="form-container">
                  <div asp-validation-summary="All" class="text-white"></div>
                  <div class="form-group input-group">
                      <input placeholder="Email" asp-for="Input.Email" class="form-control" />
                      <span asp-validation-for="Input.Email" class="text-white"></span>
                  </div>
                  <div class="form-group input-group">
                      <input placeholder="Password" asp-for="Input.Password" class="form-control" />
                      <span asp-validation-for="Input.Password" class="text-white"></span>
                  </div>
                  <div class="form-group button-group">
                      <button type="submit" class="login-button btn btn-secondary btn-lg">Connect</button>
                  </div>
              </form>
          </section>
    </div>
    <div class="col-sm-6 text-center">
      <h2 class="text-white">Not yet registered ? Join the Universe !</h2>
      <form method="post">
        <a type="button" asp-page="./Register"
          class="register-button btn btn-secondary btn-lg"
          asp-route-returnUrl="@Model.ReturnUrl">Create an Account</a>
      </form>
    </div>
  </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


<style>
html, body {
  height: 100%;
  padding: 0;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(/images/home_bg.jpg);
}

.container {
  height: 100%;
}

.login-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-group {
  text-align: center;
} 

.login-button {
  font-size: 20px;
  padding: 7px 60px;
  background-color: black;
  color: white;
  font-variant: small-caps;
  transition: all 1s cubic-bezier(0,-0.34, 0, 0.97);
  border: 1px solid transparent;
  border-radius: 6px;
}

.login-button:hover {
  color: white;
  background-color: black;
  transition: all 1s ease;
  padding: 7px 100px;
}

.register-button {
  margin-top: 40px;
  font-size: 20px;
  padding: 12px 60px;
  background-color: black;
  color: white;
  font-variant: small-caps;
  transition: all 1s cubic-bezier(0,-0.34, 0, 0.97);
  border: 1px solid transparent;
  border-radius: 6px;
}

.register-button:hover {
  color: white;
  background-color: black;
  transition: all 1s ease;
  padding: 12px 100px;
}

.input-group {
  width: 300px;
}

.form-control {
  font-size: 18px;
  height: 45px;
  border-radius: 4px;
}

.text-white {
  color: white;
}

.w-100 {
  width: 100%;
}
</style>