@model Ogame.Models.Planet

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Planet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlanetID" />
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID"></select>
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dist_to_star" class="control-label"></label>
                <input asp-for="Dist_to_star" class="form-control" />
                <span asp-validation-for="Dist_to_star" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="X" class="control-label"></label>
                <input asp-for="X" class="form-control" />
                <span asp-validation-for="X" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Y" class="control-label"></label>
                <input asp-for="Y" class="form-control" />
                <span asp-validation-for="Y" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Metal" class="control-label"></label>
                <input asp-for="Metal" class="form-control" />
                <span asp-validation-for="Metal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cristal" class="control-label"></label>
                <input asp-for="Cristal" class="form-control" />
                <span asp-validation-for="Cristal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deuterium" class="control-label"></label>
                <input asp-for="Deuterium" class="form-control" />
                <span asp-validation-for="Deuterium" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Energy" class="control-label"></label>
                <input asp-for="Energy" class="form-control" />
                <span asp-validation-for="Energy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
