@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    7 rue de Conflans<br />
    Charenton-le-pont<br />
    <abbr title="Phone">P:</abbr>
    06 24 15 80 03
</address>

<address>
    <strong>Support:</strong> <a href="mailto:romain.mounier@epita.fr">romain.mounier@epita.fr</a><br />
</address>
