@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Ogame</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Ogame</h2>
        <p>
            Ogame is a game where you manage your interstellar
            Empire. Trying to expand your territory and conquer the universe
        </p>
    </div>
</div>