@model Ogame.Models.SpaceshipView.SpaceshipAttackInterface

@{
    ViewData["Title"] = "Attack";
}

<h2>Attack</h2>

<h4>Spaceship</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Attack">
            <div class="form-group">
                <label asp-for="_X" class="control-label"></label>
                <input asp-for="_X" class="form-control" />
                <span asp-validation-for="_X" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_Y" class="control-label"></label>
                <input asp-for="_Y" class="form-control" />
                <span asp-validation-for="_Y" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
